/* ---- reset ---- */

body {
    margin: 0;
    background-color: #070825;
    text-align: center;
    color: #ffffff;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* -- -- -- -- -- -- -- -- -- -- */

.main-title {
    color: #ffffff;
    font-size: 77px;
}

.container-1 {
    width: 400px;
    /* background-color: orange; */
    margin-left: auto;
    margin-right: auto;
}
