html {
    background-color: bisque;
}

.kokoku-1 { /* Ajustar para ir para topo da pagina */
    background-color: #00008b;
    color: white;
    width: 100%;
    height: 15%;
}

.kokoku-2 {
    background-color: #00008b;
    color: white;
    width: 15%;
    height: 100%;
    float: right;
}

.kokoku-3 {
    background-color: #008b8b;
    color: white;
    width: 100%;
    height: 15%;
    float: left;
    margin-top: 3%;
}

.main-page {
    background-color: pink;
    width: 100%;
    height: 100%;
}

.main-menu-align {
    margin: auto;
    width: 75%;
}

.main-menu {
    margin-top: 6%;
}

.main-title {
    background-color: lightskyblue;
    color: white;
    width: 69%;
    height: 23%;
    margin-left: 14%;
    margin-top: 2%;
}

.vertical-text-align-20 {
    margin-top: 20%;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.vertical-text-align-25 {
    margin-top: 25%;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.format-main-menu {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 28%;
    height: 28%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
    text-align: center;
}

.recipes {
    background-image: url("images/recipe-01.png");
}

.tips {
    background-image: url("images/tips-01.png");
}

.depositions {
    background-image: url("images/depositions-02.png");
}

.about-me {
    background-color: #12a1a3;
    color: white;
    width: 800px;
    /* height: 100%; */
    font-size: 20px;
    float: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.news {
    background-color: yellow;
    color: black;
    width: 100%;
    height: 500px;
    float: left;
    /* margin-left: 20%; */
    margin-right: 20%;
    margin-top: 3%;
}

.description {
    background-color: #12a1a3;
    color: white;
    width: 500px;
    font-size: 20px;
    float: left;
}

footer {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #ff2277;
    margin-top: 2%;
}
