html {
    background-color: bisque;
}

.kokoku-1 { /* Ajustar para ir para topo da pagina */
    background-color: #00008b;
    color: white;
    width: 100%;
    height: 100px;
}

.kokoku-2 {
    background-color: #00008b;
    color: white;
    width: 200px;
    height: 500px;
    float: right;
}

.kokoku-3 {
    background-color: #008b8b;
    color: white;
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 3%;
}

.main-page {
    background-color: pink;
    width: 100%;
    height: 100%;
}

.main-menu-align {
    margin: auto;
    width: 75%;
}

.main-menu {
    margin-top: 70px;
}

.main-title {
    background-color: lightskyblue;
    color: white;
    width: 600px;
    height: 150px;
    margin-left: 200px;
    margin-top: 30px;
}

.recipes {
    background-color: #ff2277;
    color: white;
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.tips {
    background-color: #612300;
    color: white;
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.depositions {
    background-color: #128123;
    color: white;
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.about-me {
    background-color: #12a1a3;
    color: white;
    width: 800px;
    /* height: 100%; */
    font-size: 20px;
    float: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.news {
    background-color: yellow;
    color: black;
    width: 100%;
    height: 500px;
    float: left;
    /* margin-left: 20%; */
    margin-right: 20%;
    margin-top: 3%;
}

.description {
    background-color: #12a1a3;
    color: white;
    width: 500px;
    font-size: 20px;
    float: left;
}

footer {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #ff2277;
}